.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  width: 200px;
}

.search-bar .fa-search {
  margin-left: 10px;
  color: #888;
}

.user-profile {
  background-color: #888;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
